@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Major+Mono+Display&display=swap");
/* Definimos las Custom properties */
:root {
    /* Colores */
    --negro: #393939;
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
}

/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation: none !important;
                animation: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}

*::before, *::after {
    display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* (Opcional) */
    -o-object-fit: cover;
       object-fit: cover;
    /* (Opcional) */
    -o-object-position: center center;
       object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}

/* Quitamos los puntos de los <li> */
li {
    list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}
::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* (Opcional) */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--negro);
    /* (Opcional) */
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* (Opcional) */
    font-smooth: always;
    /* (Opcional) */
    -webkit-font-smoothing: antialiased;
    /* (Opcional) */
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Fira Mono", monospace;
}

.test {
    font-family: "Major Mono Display", monospace;
}

/* Todo lo relacionado a colores en clases irá aquí */
.bg-c--primary {
    background-color: #028ffa;
}

.text-c--primary {
    color: #028ffa;
}

.bg-c--secondary {
    background-color: #c9c9c9;
}

.text-c--secondary {
    color: #c9c9c9;
}

.bg-c--teriary {
    background-color: #f8415a;
}

.text-c--teriary {
    color: #f8415a;
}

.bg-c--white {
    background-color: #fafbfd;
}

.text-c--white {
    color: #fafbfd;
}

.bg-c--error {
    background-color: #df4b40;
}

.text-c--error {
    color: #df4b40;
}

.bg-c--success {
    background-color: #308446;
}

.text-c--success {
    color: #308446;
}

.footer, .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* PROPIEDADES */
/* PROPIEDADES GENÉRICAS */
.p--0 {
    padding: 0;
}

.p--1 {
    padding: 1rem;
}

.p--2 {
    padding: 2rem;
}

.p--3 {
    padding: 4rem;
}

.p--4 {
    padding: 6rem;
}

.p--5 {
    padding: 8rem;
}

.p-l--0 {
    padding-left: 0;
}

.p-l--1 {
    padding-left: 1rem;
}

.p-l--2 {
    padding-left: 2rem;
}

.p-l--3 {
    padding-left: 4rem;
}

.p-l--4 {
    padding-left: 6rem;
}

.p-l--5 {
    padding-left: 8rem;
}

.p-r--0 {
    padding-right: 0;
}

.p-r--1 {
    padding-right: 1rem;
}

.p-r--2 {
    padding-right: 2rem;
}

.p-r--3 {
    padding-right: 4rem;
}

.p-r--4 {
    padding-right: 6rem;
}

.p-r--5 {
    padding-right: 8rem;
}

.p-t--0 {
    padding-top: 0;
}

.p-t--1 {
    padding-top: 1rem;
}

.p-t--2 {
    padding-top: 2rem;
}

.p-t--3 {
    padding-top: 4rem;
}

.p-t--4 {
    padding-top: 6rem;
}

.p-t--5 {
    padding-top: 8rem;
}

.p-b--0 {
    padding-bottom: 0;
}

.p-b--1 {
    padding-bottom: 1rem;
}

.p-b--2 {
    padding-bottom: 2rem;
}

.p-b--3 {
    padding-bottom: 4rem;
}

.p-b--4 {
    padding-bottom: 6rem;
}

.p-b--5 {
    padding-bottom: 8rem;
}

.m--0 {
    margin: 0;
}

.m--1 {
    margin: 1em;
}

.m--2 {
    margin: 2em;
}

.m--3 {
    margin: 4em;
}

.m--4 {
    margin: 6em;
}

.m--5 {
    margin: 8em;
}

.m-l--0 {
    margin-left: 0;
}

.m-l--1 {
    margin-left: 1em;
}

.m-l--2 {
    margin-left: 2em;
}

.m-l--3 {
    margin-left: 4em;
}

.m-l--4 {
    margin-left: 6em;
}

.m-l--5 {
    margin-left: 8em;
}

.m-r--0 {
    margin-right: 0;
}

.m-r--1 {
    margin-right: 1em;
}

.m-r--2 {
    margin-right: 2em;
}

.m-r--3 {
    margin-right: 4em;
}

.m-r--4 {
    margin-right: 6em;
}

.m-r--5 {
    margin-right: 8em;
}

.m-t--0 {
    margin-top: 0;
}

.m-t--1 {
    margin-top: 1em;
}

.m-t--2 {
    margin-top: 2em;
}

.m-t--3 {
    margin-top: 4em;
}

.m-t--4 {
    margin-top: 6em;
}

.m-t--5 {
    margin-top: 8em;
}

.m-b--0 {
    margin-bottom: 0;
}

.m-b--1 {
    margin-bottom: 1em;
}

.m-b--2 {
    margin-bottom: 2em;
}

.m-b--3 {
    margin-bottom: 4em;
}

.m-b--4 {
    margin-bottom: 6em;
}

.m-b--5 {
    margin-bottom: 8em;
}

.opacity--10 {
    opacity: 0.1;
}

.opacity--20 {
    opacity: 0.2;
}

.opacity--30 {
    opacity: 0.3;
}

.opacity--40 {
    opacity: 0.4;
}

.opacity--50 {
    opacity: 0.5;
}

.opacity--60 {
    opacity: 0.6;
}

.opacity--70 {
    opacity: 0.7;
}

.opacity--80 {
    opacity: 0.8;
}

.opacity--90 {
    opacity: 0.9;
}

.opacity--100 {
    opacity: 1;
}

.radius {
    border-radius: 5px;
}

.radius--none {
    border-radius: 0;
}

.radius--xs {
    border-radius: 1.25px;
}

.radius--sm {
    border-radius: 2.5px;
}

.radius--lg {
    border-radius: 10px;
}

.radius--full {
    border-radius: 50%;
}

.display--n {
    display: none;
}

.display--b {
    display: block;
}

.display--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.display--i {
    display: inline;
}

.display--ib {
    display: inline-block;
}

.display--grid {
    display: -ms-grid;
    display: grid;
}

.position--st {
    position: static;
}

.position--rel {
    position: relative;
}

.position--abs {
    position: absolute;
}

.position--fix {
    position: fixed;
}

.position--stc {
    position: sticky;
}

.shadow {
    -webkit-box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
            box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
}

.shadow--sm {
    -webkit-box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
            box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
}

.shadow--md {
    -webkit-box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
            box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
}

.shadow--xl {
    -webkit-box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
            box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
}

.shadow--none {
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Propiedades con Breakpoint */
@media (min-width: 0px) {
    .p-xs--0 {
        padding: 0;
    }
    .p-xs--1 {
        padding: 1rem;
    }
    .p-xs--2 {
        padding: 2rem;
    }
    .p-xs--3 {
        padding: 4rem;
    }
    .p-xs--4 {
        padding: 6rem;
    }
    .p-xs--5 {
        padding: 8rem;
    }
    .p-l-xs--0 {
        padding-left: 0;
    }
    .p-l-xs--1 {
        padding-left: 1rem;
    }
    .p-l-xs--2 {
        padding-left: 2rem;
    }
    .p-l-xs--3 {
        padding-left: 4rem;
    }
    .p-l-xs--4 {
        padding-left: 6rem;
    }
    .p-l-xs--5 {
        padding-left: 8rem;
    }
    .p-r-xs--0 {
        padding-right: 0;
    }
    .p-r-xs--1 {
        padding-right: 1rem;
    }
    .p-r-xs--2 {
        padding-right: 2rem;
    }
    .p-r-xs--3 {
        padding-right: 4rem;
    }
    .p-r-xs--4 {
        padding-right: 6rem;
    }
    .p-r-xs--5 {
        padding-right: 8rem;
    }
    .p-t-xs--0 {
        padding-top: 0;
    }
    .p-t-xs--1 {
        padding-top: 1rem;
    }
    .p-t-xs--2 {
        padding-top: 2rem;
    }
    .p-t-xs--3 {
        padding-top: 4rem;
    }
    .p-t-xs--4 {
        padding-top: 6rem;
    }
    .p-t-xs--5 {
        padding-top: 8rem;
    }
    .p-b-xs--0 {
        padding-bottom: 0;
    }
    .p-b-xs--1 {
        padding-bottom: 1rem;
    }
    .p-b-xs--2 {
        padding-bottom: 2rem;
    }
    .p-b-xs--3 {
        padding-bottom: 4rem;
    }
    .p-b-xs--4 {
        padding-bottom: 6rem;
    }
    .p-b-xs--5 {
        padding-bottom: 8rem;
    }
    .m-xs--0 {
        margin: 0;
    }
    .m-xs--1 {
        margin: 1em;
    }
    .m-xs--2 {
        margin: 2em;
    }
    .m-xs--3 {
        margin: 4em;
    }
    .m-xs--4 {
        margin: 6em;
    }
    .m-xs--5 {
        margin: 8em;
    }
    .m-l-xs--0 {
        margin-left: 0;
    }
    .m-l-xs--1 {
        margin-left: 1em;
    }
    .m-l-xs--2 {
        margin-left: 2em;
    }
    .m-l-xs--3 {
        margin-left: 4em;
    }
    .m-l-xs--4 {
        margin-left: 6em;
    }
    .m-l-xs--5 {
        margin-left: 8em;
    }
    .m-r-xs--0 {
        margin-right: 0;
    }
    .m-r-xs--1 {
        margin-right: 1em;
    }
    .m-r-xs--2 {
        margin-right: 2em;
    }
    .m-r-xs--3 {
        margin-right: 4em;
    }
    .m-r-xs--4 {
        margin-right: 6em;
    }
    .m-r-xs--5 {
        margin-right: 8em;
    }
    .m-t-xs--0 {
        margin-top: 0;
    }
    .m-t-xs--1 {
        margin-top: 1em;
    }
    .m-t-xs--2 {
        margin-top: 2em;
    }
    .m-t-xs--3 {
        margin-top: 4em;
    }
    .m-t-xs--4 {
        margin-top: 6em;
    }
    .m-t-xs--5 {
        margin-top: 8em;
    }
    .m-b-xs--0 {
        margin-bottom: 0;
    }
    .m-b-xs--1 {
        margin-bottom: 1em;
    }
    .m-b-xs--2 {
        margin-bottom: 2em;
    }
    .m-b-xs--3 {
        margin-bottom: 4em;
    }
    .m-b-xs--4 {
        margin-bottom: 6em;
    }
    .m-b-xs--5 {
        margin-bottom: 8em;
    }
    .opacity-xs--10 {
        opacity: 0.1;
    }
    .opacity-xs--20 {
        opacity: 0.2;
    }
    .opacity-xs--30 {
        opacity: 0.3;
    }
    .opacity-xs--40 {
        opacity: 0.4;
    }
    .opacity-xs--50 {
        opacity: 0.5;
    }
    .opacity-xs--60 {
        opacity: 0.6;
    }
    .opacity-xs--70 {
        opacity: 0.7;
    }
    .opacity-xs--80 {
        opacity: 0.8;
    }
    .opacity-xs--90 {
        opacity: 0.9;
    }
    .opacity-xs--100 {
        opacity: 1;
    }
    .radius-xs {
        border-radius: 5px;
    }
    .radius-xs--none {
        border-radius: 0;
    }
    .radius-xs--xs {
        border-radius: 1.25px;
    }
    .radius-xs--sm {
        border-radius: 2.5px;
    }
    .radius-xs--lg {
        border-radius: 10px;
    }
    .radius-xs--full {
        border-radius: 50%;
    }
    .display-xs--n {
        display: none;
    }
    .display-xs--b {
        display: block;
    }
    .display-xs--flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .display-xs--i {
        display: inline;
    }
    .display-xs--ib {
        display: inline-block;
    }
    .display-xs--grid {
        display: -ms-grid;
        display: grid;
    }
    .position-xs--st {
        position: static;
    }
    .position-xs--rel {
        position: relative;
    }
    .position-xs--abs {
        position: absolute;
    }
    .position-xs--fix {
        position: fixed;
    }
    .position-xs--stc {
        position: sticky;
    }
    .shadow-xs {
        -webkit-box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
                box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
    }
    .shadow-xs--sm {
        -webkit-box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
                box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
    }
    .shadow-xs--md {
        -webkit-box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
                box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
    }
    .shadow-xs--xl {
        -webkit-box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
                box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
    }
    .shadow-xs--none {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
@media (min-width: 480px) {
    .p-sm--0 {
        padding: 0;
    }
    .p-sm--1 {
        padding: 1rem;
    }
    .p-sm--2 {
        padding: 2rem;
    }
    .p-sm--3 {
        padding: 4rem;
    }
    .p-sm--4 {
        padding: 6rem;
    }
    .p-sm--5 {
        padding: 8rem;
    }
    .p-l-sm--0 {
        padding-left: 0;
    }
    .p-l-sm--1 {
        padding-left: 1rem;
    }
    .p-l-sm--2 {
        padding-left: 2rem;
    }
    .p-l-sm--3 {
        padding-left: 4rem;
    }
    .p-l-sm--4 {
        padding-left: 6rem;
    }
    .p-l-sm--5 {
        padding-left: 8rem;
    }
    .p-r-sm--0 {
        padding-right: 0;
    }
    .p-r-sm--1 {
        padding-right: 1rem;
    }
    .p-r-sm--2 {
        padding-right: 2rem;
    }
    .p-r-sm--3 {
        padding-right: 4rem;
    }
    .p-r-sm--4 {
        padding-right: 6rem;
    }
    .p-r-sm--5 {
        padding-right: 8rem;
    }
    .p-t-sm--0 {
        padding-top: 0;
    }
    .p-t-sm--1 {
        padding-top: 1rem;
    }
    .p-t-sm--2 {
        padding-top: 2rem;
    }
    .p-t-sm--3 {
        padding-top: 4rem;
    }
    .p-t-sm--4 {
        padding-top: 6rem;
    }
    .p-t-sm--5 {
        padding-top: 8rem;
    }
    .p-b-sm--0 {
        padding-bottom: 0;
    }
    .p-b-sm--1 {
        padding-bottom: 1rem;
    }
    .p-b-sm--2 {
        padding-bottom: 2rem;
    }
    .p-b-sm--3 {
        padding-bottom: 4rem;
    }
    .p-b-sm--4 {
        padding-bottom: 6rem;
    }
    .p-b-sm--5 {
        padding-bottom: 8rem;
    }
    .m-sm--0 {
        margin: 0;
    }
    .m-sm--1 {
        margin: 1em;
    }
    .m-sm--2 {
        margin: 2em;
    }
    .m-sm--3 {
        margin: 4em;
    }
    .m-sm--4 {
        margin: 6em;
    }
    .m-sm--5 {
        margin: 8em;
    }
    .m-l-sm--0 {
        margin-left: 0;
    }
    .m-l-sm--1 {
        margin-left: 1em;
    }
    .m-l-sm--2 {
        margin-left: 2em;
    }
    .m-l-sm--3 {
        margin-left: 4em;
    }
    .m-l-sm--4 {
        margin-left: 6em;
    }
    .m-l-sm--5 {
        margin-left: 8em;
    }
    .m-r-sm--0 {
        margin-right: 0;
    }
    .m-r-sm--1 {
        margin-right: 1em;
    }
    .m-r-sm--2 {
        margin-right: 2em;
    }
    .m-r-sm--3 {
        margin-right: 4em;
    }
    .m-r-sm--4 {
        margin-right: 6em;
    }
    .m-r-sm--5 {
        margin-right: 8em;
    }
    .m-t-sm--0 {
        margin-top: 0;
    }
    .m-t-sm--1 {
        margin-top: 1em;
    }
    .m-t-sm--2 {
        margin-top: 2em;
    }
    .m-t-sm--3 {
        margin-top: 4em;
    }
    .m-t-sm--4 {
        margin-top: 6em;
    }
    .m-t-sm--5 {
        margin-top: 8em;
    }
    .m-b-sm--0 {
        margin-bottom: 0;
    }
    .m-b-sm--1 {
        margin-bottom: 1em;
    }
    .m-b-sm--2 {
        margin-bottom: 2em;
    }
    .m-b-sm--3 {
        margin-bottom: 4em;
    }
    .m-b-sm--4 {
        margin-bottom: 6em;
    }
    .m-b-sm--5 {
        margin-bottom: 8em;
    }
    .opacity-sm--10 {
        opacity: 0.1;
    }
    .opacity-sm--20 {
        opacity: 0.2;
    }
    .opacity-sm--30 {
        opacity: 0.3;
    }
    .opacity-sm--40 {
        opacity: 0.4;
    }
    .opacity-sm--50 {
        opacity: 0.5;
    }
    .opacity-sm--60 {
        opacity: 0.6;
    }
    .opacity-sm--70 {
        opacity: 0.7;
    }
    .opacity-sm--80 {
        opacity: 0.8;
    }
    .opacity-sm--90 {
        opacity: 0.9;
    }
    .opacity-sm--100 {
        opacity: 1;
    }
    .radius-sm {
        border-radius: 5px;
    }
    .radius-sm--none {
        border-radius: 0;
    }
    .radius-sm--xs {
        border-radius: 1.25px;
    }
    .radius-sm--sm {
        border-radius: 2.5px;
    }
    .radius-sm--lg {
        border-radius: 10px;
    }
    .radius-sm--full {
        border-radius: 50%;
    }
    .display-sm--n {
        display: none;
    }
    .display-sm--b {
        display: block;
    }
    .display-sm--flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .display-sm--i {
        display: inline;
    }
    .display-sm--ib {
        display: inline-block;
    }
    .display-sm--grid {
        display: -ms-grid;
        display: grid;
    }
    .position-sm--st {
        position: static;
    }
    .position-sm--rel {
        position: relative;
    }
    .position-sm--abs {
        position: absolute;
    }
    .position-sm--fix {
        position: fixed;
    }
    .position-sm--stc {
        position: sticky;
    }
    .shadow-sm {
        -webkit-box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
                box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
    }
    .shadow-sm--sm {
        -webkit-box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
                box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
    }
    .shadow-sm--md {
        -webkit-box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
                box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
    }
    .shadow-sm--xl {
        -webkit-box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
                box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
    }
    .shadow-sm--none {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
@media (min-width: 760px) {
    .p-md--0 {
        padding: 0;
    }
    .p-md--1 {
        padding: 1rem;
    }
    .p-md--2 {
        padding: 2rem;
    }
    .p-md--3 {
        padding: 4rem;
    }
    .p-md--4 {
        padding: 6rem;
    }
    .p-md--5 {
        padding: 8rem;
    }
    .p-l-md--0 {
        padding-left: 0;
    }
    .p-l-md--1 {
        padding-left: 1rem;
    }
    .p-l-md--2 {
        padding-left: 2rem;
    }
    .p-l-md--3 {
        padding-left: 4rem;
    }
    .p-l-md--4 {
        padding-left: 6rem;
    }
    .p-l-md--5 {
        padding-left: 8rem;
    }
    .p-r-md--0 {
        padding-right: 0;
    }
    .p-r-md--1 {
        padding-right: 1rem;
    }
    .p-r-md--2 {
        padding-right: 2rem;
    }
    .p-r-md--3 {
        padding-right: 4rem;
    }
    .p-r-md--4 {
        padding-right: 6rem;
    }
    .p-r-md--5 {
        padding-right: 8rem;
    }
    .p-t-md--0 {
        padding-top: 0;
    }
    .p-t-md--1 {
        padding-top: 1rem;
    }
    .p-t-md--2 {
        padding-top: 2rem;
    }
    .p-t-md--3 {
        padding-top: 4rem;
    }
    .p-t-md--4 {
        padding-top: 6rem;
    }
    .p-t-md--5 {
        padding-top: 8rem;
    }
    .p-b-md--0 {
        padding-bottom: 0;
    }
    .p-b-md--1 {
        padding-bottom: 1rem;
    }
    .p-b-md--2 {
        padding-bottom: 2rem;
    }
    .p-b-md--3 {
        padding-bottom: 4rem;
    }
    .p-b-md--4 {
        padding-bottom: 6rem;
    }
    .p-b-md--5 {
        padding-bottom: 8rem;
    }
    .m-md--0 {
        margin: 0;
    }
    .m-md--1 {
        margin: 1em;
    }
    .m-md--2 {
        margin: 2em;
    }
    .m-md--3 {
        margin: 4em;
    }
    .m-md--4 {
        margin: 6em;
    }
    .m-md--5 {
        margin: 8em;
    }
    .m-l-md--0 {
        margin-left: 0;
    }
    .m-l-md--1 {
        margin-left: 1em;
    }
    .m-l-md--2 {
        margin-left: 2em;
    }
    .m-l-md--3 {
        margin-left: 4em;
    }
    .m-l-md--4 {
        margin-left: 6em;
    }
    .m-l-md--5 {
        margin-left: 8em;
    }
    .m-r-md--0 {
        margin-right: 0;
    }
    .m-r-md--1 {
        margin-right: 1em;
    }
    .m-r-md--2 {
        margin-right: 2em;
    }
    .m-r-md--3 {
        margin-right: 4em;
    }
    .m-r-md--4 {
        margin-right: 6em;
    }
    .m-r-md--5 {
        margin-right: 8em;
    }
    .m-t-md--0 {
        margin-top: 0;
    }
    .m-t-md--1 {
        margin-top: 1em;
    }
    .m-t-md--2 {
        margin-top: 2em;
    }
    .m-t-md--3 {
        margin-top: 4em;
    }
    .m-t-md--4 {
        margin-top: 6em;
    }
    .m-t-md--5 {
        margin-top: 8em;
    }
    .m-b-md--0 {
        margin-bottom: 0;
    }
    .m-b-md--1 {
        margin-bottom: 1em;
    }
    .m-b-md--2 {
        margin-bottom: 2em;
    }
    .m-b-md--3 {
        margin-bottom: 4em;
    }
    .m-b-md--4 {
        margin-bottom: 6em;
    }
    .m-b-md--5 {
        margin-bottom: 8em;
    }
    .opacity-md--10 {
        opacity: 0.1;
    }
    .opacity-md--20 {
        opacity: 0.2;
    }
    .opacity-md--30 {
        opacity: 0.3;
    }
    .opacity-md--40 {
        opacity: 0.4;
    }
    .opacity-md--50 {
        opacity: 0.5;
    }
    .opacity-md--60 {
        opacity: 0.6;
    }
    .opacity-md--70 {
        opacity: 0.7;
    }
    .opacity-md--80 {
        opacity: 0.8;
    }
    .opacity-md--90 {
        opacity: 0.9;
    }
    .opacity-md--100 {
        opacity: 1;
    }
    .radius-md {
        border-radius: 5px;
    }
    .radius-md--none {
        border-radius: 0;
    }
    .radius-md--xs {
        border-radius: 1.25px;
    }
    .radius-md--sm {
        border-radius: 2.5px;
    }
    .radius-md--lg {
        border-radius: 10px;
    }
    .radius-md--full {
        border-radius: 50%;
    }
    .display-md--n {
        display: none;
    }
    .display-md--b {
        display: block;
    }
    .display-md--flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .display-md--i {
        display: inline;
    }
    .display-md--ib {
        display: inline-block;
    }
    .display-md--grid {
        display: -ms-grid;
        display: grid;
    }
    .position-md--st {
        position: static;
    }
    .position-md--rel {
        position: relative;
    }
    .position-md--abs {
        position: absolute;
    }
    .position-md--fix {
        position: fixed;
    }
    .position-md--stc {
        position: sticky;
    }
    .shadow-md {
        -webkit-box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
                box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
    }
    .shadow-md--sm {
        -webkit-box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
                box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
    }
    .shadow-md--md {
        -webkit-box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
                box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
    }
    .shadow-md--xl {
        -webkit-box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
                box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
    }
    .shadow-md--none {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
@media (min-width: 1200px) {
    .p-lg--0 {
        padding: 0;
    }
    .p-lg--1 {
        padding: 1rem;
    }
    .p-lg--2 {
        padding: 2rem;
    }
    .p-lg--3 {
        padding: 4rem;
    }
    .p-lg--4 {
        padding: 6rem;
    }
    .p-lg--5 {
        padding: 8rem;
    }
    .p-l-lg--0 {
        padding-left: 0;
    }
    .p-l-lg--1 {
        padding-left: 1rem;
    }
    .p-l-lg--2 {
        padding-left: 2rem;
    }
    .p-l-lg--3 {
        padding-left: 4rem;
    }
    .p-l-lg--4 {
        padding-left: 6rem;
    }
    .p-l-lg--5 {
        padding-left: 8rem;
    }
    .p-r-lg--0 {
        padding-right: 0;
    }
    .p-r-lg--1 {
        padding-right: 1rem;
    }
    .p-r-lg--2 {
        padding-right: 2rem;
    }
    .p-r-lg--3 {
        padding-right: 4rem;
    }
    .p-r-lg--4 {
        padding-right: 6rem;
    }
    .p-r-lg--5 {
        padding-right: 8rem;
    }
    .p-t-lg--0 {
        padding-top: 0;
    }
    .p-t-lg--1 {
        padding-top: 1rem;
    }
    .p-t-lg--2 {
        padding-top: 2rem;
    }
    .p-t-lg--3 {
        padding-top: 4rem;
    }
    .p-t-lg--4 {
        padding-top: 6rem;
    }
    .p-t-lg--5 {
        padding-top: 8rem;
    }
    .p-b-lg--0 {
        padding-bottom: 0;
    }
    .p-b-lg--1 {
        padding-bottom: 1rem;
    }
    .p-b-lg--2 {
        padding-bottom: 2rem;
    }
    .p-b-lg--3 {
        padding-bottom: 4rem;
    }
    .p-b-lg--4 {
        padding-bottom: 6rem;
    }
    .p-b-lg--5 {
        padding-bottom: 8rem;
    }
    .m-lg--0 {
        margin: 0;
    }
    .m-lg--1 {
        margin: 1em;
    }
    .m-lg--2 {
        margin: 2em;
    }
    .m-lg--3 {
        margin: 4em;
    }
    .m-lg--4 {
        margin: 6em;
    }
    .m-lg--5 {
        margin: 8em;
    }
    .m-l-lg--0 {
        margin-left: 0;
    }
    .m-l-lg--1 {
        margin-left: 1em;
    }
    .m-l-lg--2 {
        margin-left: 2em;
    }
    .m-l-lg--3 {
        margin-left: 4em;
    }
    .m-l-lg--4 {
        margin-left: 6em;
    }
    .m-l-lg--5 {
        margin-left: 8em;
    }
    .m-r-lg--0 {
        margin-right: 0;
    }
    .m-r-lg--1 {
        margin-right: 1em;
    }
    .m-r-lg--2 {
        margin-right: 2em;
    }
    .m-r-lg--3 {
        margin-right: 4em;
    }
    .m-r-lg--4 {
        margin-right: 6em;
    }
    .m-r-lg--5 {
        margin-right: 8em;
    }
    .m-t-lg--0 {
        margin-top: 0;
    }
    .m-t-lg--1 {
        margin-top: 1em;
    }
    .m-t-lg--2 {
        margin-top: 2em;
    }
    .m-t-lg--3 {
        margin-top: 4em;
    }
    .m-t-lg--4 {
        margin-top: 6em;
    }
    .m-t-lg--5 {
        margin-top: 8em;
    }
    .m-b-lg--0 {
        margin-bottom: 0;
    }
    .m-b-lg--1 {
        margin-bottom: 1em;
    }
    .m-b-lg--2 {
        margin-bottom: 2em;
    }
    .m-b-lg--3 {
        margin-bottom: 4em;
    }
    .m-b-lg--4 {
        margin-bottom: 6em;
    }
    .m-b-lg--5 {
        margin-bottom: 8em;
    }
    .opacity-lg--10 {
        opacity: 0.1;
    }
    .opacity-lg--20 {
        opacity: 0.2;
    }
    .opacity-lg--30 {
        opacity: 0.3;
    }
    .opacity-lg--40 {
        opacity: 0.4;
    }
    .opacity-lg--50 {
        opacity: 0.5;
    }
    .opacity-lg--60 {
        opacity: 0.6;
    }
    .opacity-lg--70 {
        opacity: 0.7;
    }
    .opacity-lg--80 {
        opacity: 0.8;
    }
    .opacity-lg--90 {
        opacity: 0.9;
    }
    .opacity-lg--100 {
        opacity: 1;
    }
    .radius-lg {
        border-radius: 5px;
    }
    .radius-lg--none {
        border-radius: 0;
    }
    .radius-lg--xs {
        border-radius: 1.25px;
    }
    .radius-lg--sm {
        border-radius: 2.5px;
    }
    .radius-lg--lg {
        border-radius: 10px;
    }
    .radius-lg--full {
        border-radius: 50%;
    }
    .display-lg--n {
        display: none;
    }
    .display-lg--b {
        display: block;
    }
    .display-lg--flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .display-lg--i {
        display: inline;
    }
    .display-lg--ib {
        display: inline-block;
    }
    .display-lg--grid {
        display: -ms-grid;
        display: grid;
    }
    .position-lg--st {
        position: static;
    }
    .position-lg--rel {
        position: relative;
    }
    .position-lg--abs {
        position: absolute;
    }
    .position-lg--fix {
        position: fixed;
    }
    .position-lg--stc {
        position: sticky;
    }
    .shadow-lg {
        -webkit-box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
                box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
    }
    .shadow-lg--sm {
        -webkit-box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
                box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
    }
    .shadow-lg--md {
        -webkit-box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
                box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
    }
    .shadow-lg--xl {
        -webkit-box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
                box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
    }
    .shadow-lg--none {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
@media (min-width: 1360px) {
    .p-xl--0 {
        padding: 0;
    }
    .p-xl--1 {
        padding: 1rem;
    }
    .p-xl--2 {
        padding: 2rem;
    }
    .p-xl--3 {
        padding: 4rem;
    }
    .p-xl--4 {
        padding: 6rem;
    }
    .p-xl--5 {
        padding: 8rem;
    }
    .p-l-xl--0 {
        padding-left: 0;
    }
    .p-l-xl--1 {
        padding-left: 1rem;
    }
    .p-l-xl--2 {
        padding-left: 2rem;
    }
    .p-l-xl--3 {
        padding-left: 4rem;
    }
    .p-l-xl--4 {
        padding-left: 6rem;
    }
    .p-l-xl--5 {
        padding-left: 8rem;
    }
    .p-r-xl--0 {
        padding-right: 0;
    }
    .p-r-xl--1 {
        padding-right: 1rem;
    }
    .p-r-xl--2 {
        padding-right: 2rem;
    }
    .p-r-xl--3 {
        padding-right: 4rem;
    }
    .p-r-xl--4 {
        padding-right: 6rem;
    }
    .p-r-xl--5 {
        padding-right: 8rem;
    }
    .p-t-xl--0 {
        padding-top: 0;
    }
    .p-t-xl--1 {
        padding-top: 1rem;
    }
    .p-t-xl--2 {
        padding-top: 2rem;
    }
    .p-t-xl--3 {
        padding-top: 4rem;
    }
    .p-t-xl--4 {
        padding-top: 6rem;
    }
    .p-t-xl--5 {
        padding-top: 8rem;
    }
    .p-b-xl--0 {
        padding-bottom: 0;
    }
    .p-b-xl--1 {
        padding-bottom: 1rem;
    }
    .p-b-xl--2 {
        padding-bottom: 2rem;
    }
    .p-b-xl--3 {
        padding-bottom: 4rem;
    }
    .p-b-xl--4 {
        padding-bottom: 6rem;
    }
    .p-b-xl--5 {
        padding-bottom: 8rem;
    }
    .m-xl--0 {
        margin: 0;
    }
    .m-xl--1 {
        margin: 1em;
    }
    .m-xl--2 {
        margin: 2em;
    }
    .m-xl--3 {
        margin: 4em;
    }
    .m-xl--4 {
        margin: 6em;
    }
    .m-xl--5 {
        margin: 8em;
    }
    .m-l-xl--0 {
        margin-left: 0;
    }
    .m-l-xl--1 {
        margin-left: 1em;
    }
    .m-l-xl--2 {
        margin-left: 2em;
    }
    .m-l-xl--3 {
        margin-left: 4em;
    }
    .m-l-xl--4 {
        margin-left: 6em;
    }
    .m-l-xl--5 {
        margin-left: 8em;
    }
    .m-r-xl--0 {
        margin-right: 0;
    }
    .m-r-xl--1 {
        margin-right: 1em;
    }
    .m-r-xl--2 {
        margin-right: 2em;
    }
    .m-r-xl--3 {
        margin-right: 4em;
    }
    .m-r-xl--4 {
        margin-right: 6em;
    }
    .m-r-xl--5 {
        margin-right: 8em;
    }
    .m-t-xl--0 {
        margin-top: 0;
    }
    .m-t-xl--1 {
        margin-top: 1em;
    }
    .m-t-xl--2 {
        margin-top: 2em;
    }
    .m-t-xl--3 {
        margin-top: 4em;
    }
    .m-t-xl--4 {
        margin-top: 6em;
    }
    .m-t-xl--5 {
        margin-top: 8em;
    }
    .m-b-xl--0 {
        margin-bottom: 0;
    }
    .m-b-xl--1 {
        margin-bottom: 1em;
    }
    .m-b-xl--2 {
        margin-bottom: 2em;
    }
    .m-b-xl--3 {
        margin-bottom: 4em;
    }
    .m-b-xl--4 {
        margin-bottom: 6em;
    }
    .m-b-xl--5 {
        margin-bottom: 8em;
    }
    .opacity-xl--10 {
        opacity: 0.1;
    }
    .opacity-xl--20 {
        opacity: 0.2;
    }
    .opacity-xl--30 {
        opacity: 0.3;
    }
    .opacity-xl--40 {
        opacity: 0.4;
    }
    .opacity-xl--50 {
        opacity: 0.5;
    }
    .opacity-xl--60 {
        opacity: 0.6;
    }
    .opacity-xl--70 {
        opacity: 0.7;
    }
    .opacity-xl--80 {
        opacity: 0.8;
    }
    .opacity-xl--90 {
        opacity: 0.9;
    }
    .opacity-xl--100 {
        opacity: 1;
    }
    .radius-xl {
        border-radius: 5px;
    }
    .radius-xl--none {
        border-radius: 0;
    }
    .radius-xl--xs {
        border-radius: 1.25px;
    }
    .radius-xl--sm {
        border-radius: 2.5px;
    }
    .radius-xl--lg {
        border-radius: 10px;
    }
    .radius-xl--full {
        border-radius: 50%;
    }
    .display-xl--n {
        display: none;
    }
    .display-xl--b {
        display: block;
    }
    .display-xl--flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .display-xl--i {
        display: inline;
    }
    .display-xl--ib {
        display: inline-block;
    }
    .display-xl--grid {
        display: -ms-grid;
        display: grid;
    }
    .position-xl--st {
        position: static;
    }
    .position-xl--rel {
        position: relative;
    }
    .position-xl--abs {
        position: absolute;
    }
    .position-xl--fix {
        position: fixed;
    }
    .position-xl--stc {
        position: sticky;
    }
    .shadow-xl {
        -webkit-box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
                box-shadow: 0px 2px 5px 2px rgba(25, 25, 25, 0.1);
    }
    .shadow-xl--sm {
        -webkit-box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
                box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.125);
    }
    .shadow-xl--md {
        -webkit-box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
                box-shadow: 0px 6px 6px 4px rgba(25, 25, 25, 0.15);
    }
    .shadow-xl--xl {
        -webkit-box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
                box-shadow: 0px 8px 8px 6px rgba(25, 25, 25, 0.175);
    }
    .shadow-xl--none {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
/* PROPIEDADES FLEX */
.flex--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.flex--col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flex--row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.flex--col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.justify--start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}

.justify--center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.justify--end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.justify--between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.justify--around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.justify--evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.justify--stretch {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
}

.justify-items--stretch {
    justify-items: stretch;
}

.justify-items--start {
    justify-items: start;
}

.justify-items--center {
    justify-items: center;
}

.justify-items--end {
    justify-items: end;
}

.justify-self--stretch {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
}

.justify-self--start {
    -ms-grid-column-align: start;
        justify-self: start;
}

.justify-self--center {
    -ms-grid-column-align: center;
        justify-self: center;
}

.justify-self--end {
    -ms-grid-column-align: end;
        justify-self: end;
}

.align--stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.align--center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.align--start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

.align--end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

.align-content--start {
    -ms-flex-line-pack: start;
        align-content: start;
}

.align-content--center {
    -ms-flex-line-pack: center;
        align-content: center;
}

.align-content--end {
    -ms-flex-line-pack: end;
        align-content: end;
}

.align-content--between {
    -ms-flex-line-pack: justify;
        align-content: space-between;
}

.align-content--around {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
}

.wrap--w {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.wrap--n-w {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.wrap--r {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
}

/* PROPIEDADES de TEXTO y FUENTE */
/* Fuente */
.font-xs {
    font-size: 0.8rem;
}

.font-sm {
    font-size: 1rem;
}

.font-md {
    font-size: 1.2rem;
}

.font-lg {
    font-size: 1.4rem;
}

.font-xl {
    font-size: 1.6rem;
}

.font-bs {
    font-size: 2rem;
}

.font-bm {
    font-size: 2.4rem;
}

.font-bl {
    font-size: 2.8rem;
}

/*Texto*/
.text-transform--cap {
    text-transform: capitalize;
}

.text-transform--upper {
    text-transform: uppercase;
}

.text-transform--lower {
    text-transform: lowercase;
}

.text-algin--start {
    text-align: start;
}

.text-algin--end {
    text-align: end;
}

.text-algin--center {
    text-align: center;
}

.text-algin--justify {
    text-align: justify;
}

.text-decoration--none {
    text-decoration: none;
}

.text-decoration--underline {
    text-decoration: underline;
}

.text-decoration--dotted {
    -webkit-text-decoration: dotted;
            text-decoration: dotted;
}

.text-decoration--wavy {
    -webkit-text-decoration: wavy;
            text-decoration: wavy;
}

/* PROPIEDADES de BORDES */
.border--primary {
    border-width: 1px;
    border-style: solid;
    border-color: #028ffa;
}

.border {
    border-width: 1px;
    border-style: solid;
    border-color: #c9c9c9;
}

.border--teriary {
    border-width: 1px;
    border-style: solid;
    border-color: #f8415a;
}

.border--white {
    border-width: 1px;
    border-style: solid;
    border-color: #fafbfd;
}

.border--error {
    border-width: 1px;
    border-style: solid;
    border-color: #df4b40;
}

.border--success {
    border-width: 1px;
    border-style: solid;
    border-color: #308446;
}

.border--dotted-primary {
    border-width: 1px;
    border-style: dotted;
    border-color: #028ffa;
}

.border--dotted {
    border-width: 1px;
    border-style: dotted;
    border-color: #c9c9c9;
}

.border--dotted-teriary {
    border-width: 1px;
    border-style: dotted;
    border-color: #f8415a;
}

.border--dotted-white {
    border-width: 1px;
    border-style: dotted;
    border-color: #fafbfd;
}

.border--dotted-error {
    border-width: 1px;
    border-style: dotted;
    border-color: #df4b40;
}

.border--dotted-success {
    border-width: 1px;
    border-style: dotted;
    border-color: #308446;
}

.border--dashed-primary {
    border-width: 1px;
    border-style: dashed;
    border-color: #028ffa;
}

.border--dashed {
    border-width: 1px;
    border-style: dashed;
    border-color: #c9c9c9;
}

.border--dashed-teriary {
    border-width: 1px;
    border-style: dashed;
    border-color: #f8415a;
}

.border--dashed-white {
    border-width: 1px;
    border-style: dashed;
    border-color: #fafbfd;
}

.border--dashed-error {
    border-width: 1px;
    border-style: dashed;
    border-color: #df4b40;
}

.border--dashed-success {
    border-width: 1px;
    border-style: dashed;
    border-color: #308446;
}

.container {
    width: 100%;
    max-width: 1300px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.container--fw {
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* Columnas para cualquier breakpoint */
.col--1 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 8.3333333333%;
}

.col--2 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 16.6666666667%;
}

.col--3 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 25%;
}

.col--4 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 33.3333333333%;
}

.col--5 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 41.6666666667%;
}

.col--6 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50%;
}

.col--7 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 58.3333333333%;
}

.col--8 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 66.6666666667%;
}

.col--9 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 75%;
}

.col--10 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 83.3333333333%;
}

.col--11 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 91.6666666667%;
}

.col--12 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
}

/* Columnas para breakpoint específicos */
@media (min-width: 0px) {
    .col--xs-1 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 8.3333333333%;
    }
    .col--xs-2 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 16.6666666667%;
    }
    .col--xs-3 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 25%;
    }
    .col--xs-4 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 33.3333333333%;
    }
    .col--xs-5 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 41.6666666667%;
    }
    .col--xs-6 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 50%;
    }
    .col--xs-7 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 58.3333333333%;
    }
    .col--xs-8 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 66.6666666667%;
    }
    .col--xs-9 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 75%;
    }
    .col--xs-10 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 83.3333333333%;
    }
    .col--xs-11 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 91.6666666667%;
    }
    .col--xs-12 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 100%;
    }
}
@media (min-width: 480px) {
    .col--sm-1 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 8.3333333333%;
    }
    .col--sm-2 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 16.6666666667%;
    }
    .col--sm-3 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 25%;
    }
    .col--sm-4 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 33.3333333333%;
    }
    .col--sm-5 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 41.6666666667%;
    }
    .col--sm-6 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 50%;
    }
    .col--sm-7 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 58.3333333333%;
    }
    .col--sm-8 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 66.6666666667%;
    }
    .col--sm-9 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 75%;
    }
    .col--sm-10 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 83.3333333333%;
    }
    .col--sm-11 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 91.6666666667%;
    }
    .col--sm-12 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 100%;
    }
}
@media (min-width: 760px) {
    .col--md-1 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 8.3333333333%;
    }
    .col--md-2 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 16.6666666667%;
    }
    .col--md-3 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 25%;
    }
    .col--md-4 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 33.3333333333%;
    }
    .col--md-5 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 41.6666666667%;
    }
    .col--md-6 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 50%;
    }
    .col--md-7 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 58.3333333333%;
    }
    .col--md-8 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 66.6666666667%;
    }
    .col--md-9 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 75%;
    }
    .col--md-10 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 83.3333333333%;
    }
    .col--md-11 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 91.6666666667%;
    }
    .col--md-12 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .col--lg-1 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 8.3333333333%;
    }
    .col--lg-2 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 16.6666666667%;
    }
    .col--lg-3 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 25%;
    }
    .col--lg-4 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 33.3333333333%;
    }
    .col--lg-5 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 41.6666666667%;
    }
    .col--lg-6 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 50%;
    }
    .col--lg-7 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 58.3333333333%;
    }
    .col--lg-8 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 66.6666666667%;
    }
    .col--lg-9 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 75%;
    }
    .col--lg-10 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 83.3333333333%;
    }
    .col--lg-11 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 91.6666666667%;
    }
    .col--lg-12 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 100%;
    }
}
@media (min-width: 1360px) {
    .col--xl-1 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 8.3333333333%;
    }
    .col--xl-2 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 16.6666666667%;
    }
    .col--xl-3 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 25%;
    }
    .col--xl-4 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 33.3333333333%;
    }
    .col--xl-5 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 41.6666666667%;
    }
    .col--xl-6 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 50%;
    }
    .col--xl-7 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 58.3333333333%;
    }
    .col--xl-8 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 66.6666666667%;
    }
    .col--xl-9 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 75%;
    }
    .col--xl-10 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 83.3333333333%;
    }
    .col--xl-11 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 91.6666666667%;
    }
    .col--xl-12 {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 100%;
    }
}
/*
    Layout principal, osease de "index"
    ELIMINAR y Cambiar
*/
.main-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.header {
    padding: 1rem;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.075);
            box-shadow: 0px 5px 5px 2px rgba(25, 25, 25, 0.075);
}
.header__title {
    font-size: 1.4rem;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.card {
    min-height: 5vh;
}