@use '../util/variables' as var;

/*
    Layout principal, osease de "index"
    ELIMINAR y Cambiar
*/
.main-layout {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}