@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Major+Mono+Display&display=swap");
/*
*  ** REGLAS GLOBALES
*/
* {
    font-family: "Fira Mono", monospace;
}

.test {
    font-family: "Major Mono Display", monospace;
}

/* Definimos las Custom properties */
:root {
    /* Colores */
    --negro: #393939;
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --negro: #ececec;
    }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation: none !important;
                animation: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}

*::before, *::after {
    display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* (Opcional) */
    -o-object-fit: cover;
       object-fit: cover;
    /* (Opcional) */
    -o-object-position: center center;
       object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}

/* Quitamos los puntos de los <li> */
li {
    list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}
::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* (Opcional) */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--negro);
    /* (Opcional) */
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* (Opcional) */
    font-smooth: always;
    /* (Opcional) */
    -webkit-font-smoothing: antialiased;
    /* (Opcional) */
    -moz-osx-font-smoothing: grayscale;
}

/* Todo lo relacionado a colores en clases irá aquí */
.bg-c--primary {
    background-color: #f8e7d3;
}

.text-c--primary {
    color: #f8e7d3;
}

.bg-c--secondary {
    background-color: #0f2f57;
}

.text-c--secondary {
    color: #0f2f57;
}

.bg-c--teriary {
    background-color: #c83246;
}

.text-c--teriary {
    color: #c83246;
}

.bg-c--color-1 {
    background-color: #efdecd;
}

.text-c--color-1 {
    color: #efdecd;
}

.bg-c--color-2 {
    background-color: #988e83;
}

.text-c--color-2 {
    color: #988e83;
}

.bg-c--color-3 {
    background-color: #df4b40;
}

.text-c--color-3 {
    color: #df4b40;
}

.bg-c--color-4 {
    background-color: #ffa420;
}

.text-c--color-4 {
    color: #ffa420;
}

.bg-c--color-5 {
    background-color: #fff0e5;
}

.text-c--color-5 {
    color: #fff0e5;
}

.bg-c--color-6 {
    background-color: #000040;
}

.text-c--color-6 {
    color: #000040;
}

.bg-c--color-7 {
    background-color: #f6d18d;
}

.text-c--color-7 {
    color: #f6d18d;
}

.bg-c--color-8 {
    background-color: rgba(73, 126, 118, 0.4588235294);
}

.text-c--color-8 {
    color: rgba(73, 126, 118, 0.4588235294);
}

/* Auxiliares */
.bg--unset {
    background-color: unset;
}

.bg--transparent {
    background-color: transparent;
}

/* Se controlan algunos aspectos de caja como Padding, margin etc */
.p--0 {
    padding: 0rem;
}

.m--0 {
    margin: 0px;
}

.p--1 {
    padding: 0.75rem;
}

.m--1 {
    margin: 5px;
}

.p--2 {
    padding: 1.5rem;
}

.m--2 {
    margin: 10px;
}

.p--3 {
    padding: 2.25rem;
}

.m--3 {
    margin: 15px;
}

.p--4 {
    padding: 3rem;
}

.m--4 {
    margin: 20px;
}

.p--5 {
    padding: 3.75rem;
}

.m--5 {
    margin: 25px;
}

.p--6 {
    padding: 4.5rem;
}

.m--6 {
    margin: 30px;
}

.p--7 {
    padding: 5.25rem;
}

.m--7 {
    margin: 35px;
}

.p--8 {
    padding: 6rem;
}

.m--8 {
    margin: 40px;
}

.border {
    border-width: 1px;
    border-style: solid;
    border-color: #988e83;
}
.border--2 {
    border-width: 2px;
}

.rounded {
    border-radius: 0.2rem;
}

/* Todo flexbox irá aquí */
.d-flex {
    /* Display flex */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Direcciones */
}
.d-flex--wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.d-flex--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.d-flex--row-r {
    /* REVERSE */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.d-flex--col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.d-flex--col-r {
    /* REVERSE */
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.justify {
    /* Justificar contenido */
    /* Justificarse a sí mismo */
    /* Justificar Items */
}
.justify--content-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.justify--content-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.justify--content-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.justify--content-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}
.justify--content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.justify--content-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}
.justify--self-start {
    -ms-grid-column-align: start;
        justify-self: start;
}
.justify--self-center {
    -ms-grid-column-align: center;
        justify-self: center;
}
.justify--self-end {
    -ms-grid-column-align: end;
        justify-self: end;
}
.align {
    /* Alinear contenido */
    /* Alinear Items */
    /* Alinearse a sí mismo */
}
.align--content-start {
    -ms-flex-line-pack: start;
        align-content: start;
}
.align--content-center {
    -ms-flex-line-pack: center;
        align-content: center;
}
.align--content-end {
    -ms-flex-line-pack: end;
        align-content: end;
}
.align--items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
.align--items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.align--items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}
.align--self-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.align--self-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.align--self-end {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.sz--0 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
}

.gap--0 {
    gap: 0rem;
}

.sz--1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.gap--1 {
    gap: 0.2rem;
}

.sz--2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}

.gap--2 {
    gap: 0.4rem;
}

.sz--3 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
}

.gap--3 {
    gap: 0.6rem;
}

.sz--4 {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
}

.gap--4 {
    gap: 0.8rem;
}

.sz--5 {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
}

.gap--5 {
    gap: 1rem;
}

.sz--6 {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
}

.gap--6 {
    gap: 1.2rem;
}

.sz--7 {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
}

.gap--7 {
    gap: 1.4rem;
}

.sz--8 {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
}

.gap--8 {
    gap: 1.6rem;
}

.sz--9 {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
}

.gap--9 {
    gap: 1.8rem;
}

.sz--10 {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
}

.gap--10 {
    gap: 2rem;
}

/* Como se comportará el texto */
.text {
    /* Transform */
    /* Tipos de alineado */
}
.text--cap {
    text-transform: capitalize;
}
.text--left {
    text-align: center;
}
.text--center {
    text-align: center;
}
.text--right {
    text-align: right;
}
.text--justify {
    text-align: justify;
}

/* Tamaños de letra impuestos */
.text-sz--sm {
    font-size: 0.8rem;
}
.text-sz--md {
    font-size: 1.2rem;
}
.text-sz--lg {
    font-size: 1.4rem;
}
.text-sz--xl {
    font-size: 1.6rem;
}
.text-sz--xxl {
    font-size: 1.8rem;
}

/*
    Layout principal, osease de "index"
    la intención es solamente dar un esquema 
    sin ser intrusivo a la hora de modificar componentes
*/
.main-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f8e7d3;
    color: #0f2f57;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.main-content__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

/*
    Layout de el selector de tutoriales, osease de "index de los tutoriales"
    la intención es solamente dar un esquema sin ser intrusivo a la hora de modificar componentes
    y además redirigir a los usuarios a distintos tutoriales.

    Este tendrá distintos componentes de sección y artículo.
*/
.tutorial-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.content__section {
    min-height: 2vh;
}
.content__section--sm {
    min-height: 20vh;
}
.content__section--md {
    min-height: 50vh;
}
.content__section--fw {
    min-height: 100%;
}
.content__article {
    width: 90%;
    overflow: hidden;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.nav {
    gap: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.nav--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.nav--col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.header {
    width: 100%;
    background-color: #f8e7d3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.header--top {
    display: none;
}
.header--scroll {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
}
.header__title {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
}

.footer {
    padding: 2rem;
    min-height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 0.8rem;
}

/* Componente de carta y auxiliares */
.card {
    /* Componente de carta */
    min-height: 8rem;
}
.card__title {
    font-size: 1.4rem;
    text-transform: capitalize;
}
.card__sub-title {
    font-size: 1.2rem;
}

.card-container {
    /* para mejorar el manejo de las cartas */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 1.2rem;
}

/* pensada para ser insertada en un link en lugar de un div */
.hoverable-card {
    /* si quieres que tenga un hover con translate */
    -ms-flex-preferred-size: 26%;
        flex-basis: 26%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 15rem;
    text-align: center;
}
.hoverable-card__card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hoverable-card__title {
    min-width: 70%;
}
.hoverable-card:hover {
    background-color: #0f2f57;
    opacity: 1;
    background-size: 12px 12px;
    background-image: repeating-linear-gradient(45deg, #f8e7d3 0, #f8e7d3 1.2px, #0f2f57 0, #0f2f57 50%);
}
.hoverable-card:hover .hoverable-card__card {
    -webkit-transform: translate(0.5rem, -0.5rem);
            transform: translate(0.5rem, -0.5rem);
}

.link {
    text-decoration: none;
    text-align: center;
    border-radius: 0.2rem;
    -webkit-transition: background 0.5ms;
    transition: background 0.5ms;
}
.link:hover {
    color: #f8e7d3;
    background-color: #0f2f57;
}
.link__header {
    padding: 0.6rem;
}
.link__header--active {
    color: #f8e7d3;
    background-color: #c83246;
}
.link__header--active:hover {
    color: #0f2f57;
    background-color: #efdecd;
}
.link__header--inactive {
    color: #efdecd;
}