// Tipografia
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Major+Mono+Display&display=swap');

$base-font-1: 'Fira Mono', monospace;
$base-font-2: 'Major Mono Display', monospace;

body {
  font-family: $base-font-1;
}

.test {
  font-family: $base-font-2;
}