/* Todo flexbox irá aquí */

.d-flex {
    /* Display flex */
    display: flex;

    /* Direcciones */

    &--wrap{
        flex-wrap: wrap;
    }

    &--row {
        flex-direction: row;

        &-r {
            /* REVERSE */
            flex-direction: row-reverse;
        }
    }

    &--col {
        flex-direction: column;

        &-r {
            /* REVERSE */
            flex-direction: column-reverse;
        }
    }
}

.justify {

    /* Justificar contenido */
    &--content {
        &-around {
            justify-content: space-around;
        }

        &-between {
            justify-content: space-between;
        }

        &-evenly {
            justify-content: space-evenly;
        }

        &-start {
            justify-content: start;
        }

        &-center {
            justify-content: center;
        }

        &-end {
            justify-content: end;
        }
    }

    /* Justificarse a sí mismo */
    &--self {
        &-start {
            justify-self: start;
        }

        &-center {
            justify-self: center;
        }

        &-end {
            justify-self: end;
        }
    }

    /* Justificar Items */
    &--items {
        // LUEGO PONDRÉ ALGO
    }
}

.align {

    /* Alinear contenido */
    &--content {
        &-start {
            align-content: start;
        }

        &-center {
            align-content: center;
        }

        &-end {
            align-content: end;
        }
    }

    /* Alinear Items */
    &--items {
        &-start {
            align-items: start;
        }

        &-center {
            align-items: center;
        }

        &-end {
            align-items: end;
        }
    }

    /* Alinearse a sí mismo */
    &--self{
        &-start{
            align-self: flex-start;
        }
        &-center{
            align-self: center;
        }
        &-end{
            align-self: flex-end;
        }
    }

}

@for $i from 0 through 10 {
    .sz--#{$i} {
        flex: $i;
    }

    .gap--#{$i} {
        gap: 0.2rem * $i;
    }
}