@use 'variables' as var;

/* Como se comportará el texto */
.text {
    /* Transform */
    &--cap {
        text-transform: capitalize;
    }

    /* Tipos de alineado */
    &--left {
        text-align: center;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--justify {
        text-align: justify;
    }
}

/* Tamaños de letra impuestos */
.text-sz {
    &--sm {
        font-size: var.$font-sz-sm;
    }

    &--md {
        font-size: var.$font-sz-md;
    }

    &--lg {
        font-size: var.$font-sz-lg;
    }

    &--xl {
        font-size: var.$font-sz-xl;
    }

    &--xxl {
        font-size: var.$font-sz-xxl;
    }
}