@use 'variables' as var;

/* Se controlan algunos aspectos de caja como Padding, margin etc */

@for $i from 0 through 8 {
    .p--#{$i} {
        padding: var.$base-padding * $i;
    }

    .m {
        &--#{$i} {
            margin: var.$base-margin * $i;
        }
    }
}

.border {
    border-width: 1px;
    border-style: solid;
    border-color: map-get(var.$colores, "color-2");

    &--2 {
        border-width: 2px;
    }
}

.rounded {
    border-radius: 0.2rem;
}

// .shadow {}