@use 'variables' as var;

/* Todo lo relacionado a colores en clases irá aquí */

@each $key,
$value in var.$colores {
    .bg-c--#{$key} {
        background-color: $value;
    }

    .text-c--#{$key} {
        color: $value;
    }
}

/* Auxiliares */
.bg--unset {
    background-color: unset;
}

.bg--transparent {
    background-color: transparent;
}