@use 'util' as util;

/* Como se comportará el texto */
.text {
  /* Transform */
  &--cap {
    text-transform: capitalize;
  }

  /* Tipos de alineado */
  &--left {
    text-align: center;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--justify {
    text-align: justify;
  }
}

/* Tamaños de letra impuestos */

@each $key,
$value in util.$fuentes {
  .font-#{$key} {
    font-size: $value;
  }
}