// Colores Principales del Tema
$primary: #f8e7d3;
$secondary: #0f2f57; // Para el texto
$brand-color: #c83246;

// Fuente
$base-font: 1rem;

// Bordes
$base-border: 1px;

// Padding
$base-padding: 0.75rem;

// Margin
$base-margin: 1em;

// Bordes redondos
$base-border-radius: 5px;

// Gaps
$base-gap: 0.5rem;

// Sombra base
$base-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.3);

// Columnas del grid (flex)
$grid-columns: 12;